nav{
  background: cornflowerblue;

}

.content1{
  padding-top: 5%;
}

.content1 h6{
  opacity: .5;
}

.content1 .par1{
  text-align: justify;
  padding-top: 5%;
}

.content1 .par2{
  text-align: justify;
}

.content2 {
  padding-top: 20px;
}

.card p{
  text-align: justify;
}

.card h5 a{
  text-decoration: none;
}

.footer{
  margin-top: 30px;
  height: 20vh;
}

#confoot{
  border-top: 1px solid grey;
}

#foot1,
#foot2{
padding-top: 5%;
}

.footer p{
  opacity: .4;
  font-size: 12px;
}

.footer .fa-twitter,
.fa-facebook-square,
.fa-instagram,
.fa-pinterest,
.fa-vimeo-v{
  color: cornflowerblue;
  margin-left: 10px;
}
